.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  box-shadow: 1px, gray;
}

h1 {
  color: #00556e;
  margin-bottom: 50px !important;
}

form{
  margin-top: 50px;
}

/* When answer button is hovered over */
button:hover {
  background-color: #279EFF;
  box-shadow: 0 2px 6px #337CCF;
  border: 1px solid #141E46;
  border-radius: 6%;
}